@import 'navbar';
@import 'featuredList';
@import 'smallList';
@import 'footer';
@import 'popups';

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
    overflow: overlay;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.buttons {
    position: relative;
    width: 100%;
    height: 10%;

    & button {
        position: relative;
        border: 0;
        padding: 10px 20px;

        width: 100px;
        height: 40px;

        border-radius: 5px;
        margin-top: calc(10% - 35px);
        margin-right: 10px;
    }

    & .smallButton {
        margin-top: calc(10% - 35px);
        border: 1px solid white;
        border-radius: 50px;
        padding: 7.5px;
        margin-right: 10px;

        height: 40px;
        width: 40px;
    }

    & * {
        float: left;
        cursor: pointer;
    }
}

* {
    transition: all .5s;
}

a {
    color: inherit !important;
    // font-weight: bold;
    text-decoration: none;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.nav-bar {
    margin-left: 150px;
}

.App-content {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    color: white;
    background: rgb(20, 20, 20);
}