.featured .movie {
    position: relative;
    width: 100vw;
    height: 100vh;

    .liniar-gradient {
        width: 100vw;
        height: 20vh;
        background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%);
        z-index: 4;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    img {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;

        object-fit: cover;
        object-position: center;

        z-index: 1;
    }

    .info {
        background-color: green;

        margin: 0;
        padding: 0;
        width: 50%;

        position: absolute;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        display: inline-block;

        h2 {
            letter-spacing: 5px;
            font-weight: bold;
        }

        button {
            padding: 15px 32px;
            color: #000;
            background-color: #fff;

            text-align: center;
            border: none;
            border-radius: 5px;

            text-decoration: none;
            display: inline-block;
        }
    }

    .slider {
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .right,
        .left {
            height: 100vh;
            cursor: pointer;
            background-image: none;
            transition: all .5s;

            .right:hover {
                background: rgb(0, 0, 0);
                background: linear-gradient(270deg, rgba(0, 0, 0, 0.5676645658263305) 0%, rgba(0, 0, 0, 0) 100%);
            }

            .left:hover {
                background: rgb(0, 0, 0);
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5676645658263305) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }

        span {
            margin-top: calc(50vh - 5vh);
            font-size: 50px;
        }
    }

    & * {
        position: relative;
        z-index: 3;
    }
}