.list {
    padding-left: calc(100px - 7px);
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    & .slider {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100%;

        & .right,
        & .left {
            height: 100%;
            cursor: pointer;
            background-image: none;
            transition: all .5s;
            position: absolute;

            &.right {
                left: calc(100vw - 50px - 30px);
            }

            &.left {
                left: 20px;
            }

            & span {
                position: absolute;
                top: 50%;
                transform: translateY(-100%);
                font-size: 25px;
                z-index: 10;

                padding: 10px;
                border-radius: 100%;

                transition: all .5s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    & .movie {
        padding: 0 7px;

        flex: 0 0 19.7%;
        position: relative;
        cursor: pointer;
        z-index: 3;

        &:hover {
            & h5 {
                opacity: 1;
            }
        }


        & img {
            width: 100%;
            border-radius: 5px;
            pointer-events: none;
        }

        & h5 {
            z-index: 3;
            margin: 0;
            padding: 0;
            font-size: 20px;
            opacity: 0;

            transition: all .1s;

            position: absolute;
            top: 50%;
            width: auto;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.genre {
    overflow: hidden;
    position: relative;

    h5 {
        margin-left: 100px;
        display: inline-block;
        color: #e5e5e5;
        font-size: 18px;
        font-weight: 700;
        // font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }
}